@import "tailwindcss";

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
  }
  body {
    @apply bg-gray-50 text-slate-900;
    font-family: 'Inter', sans-serif;
  }
}